.replay-details {
   .team {
       border: 1px solid rgba(25,51,77,1);
       border-radius: 4px;
       padding: 2px;
       background: rgba(0,26,55, 0.8);
       margin-bottom: 10px;

       .label {
           height: 32px;
           line-height: 32px;
           padding-left: 10px;
           font-size: 20px;
           font-weight: bold;
       }

       .players {
           border: 1px solid rgba(25,51,77,1);
           border-radius: 4px;
           background: rgba(4, 10, 17, 0.8);
           padding: 10px;

           .player {
               border: 1px solid rgba(18, 59, 80, 1);
               height: 60px;
               margin-bottom: 5px;

               &:hover {
                    background-color: rgba(5,30,61, 0.8);
                    border: 1px solid rgba(71,105,141,1);

               }

               &:last-child {
                   margin-bottom: 0;
               }

               & > * {
                   display: inline-block;
               }

               .icon {
                   margin-top: -2px;
                   margin-left: -2px;
                   float: left;
               }

               .name {
                   padding-left: 10px;
                   font-size: 20px;
                   height: 64px;
                   line-height: 64px;
                   float: left;
               }

               .result {
                   height: 64px;
                   line-height: 64px;
                   float: right;
                   color: green;
                   padding: 0 10px;
                   width: 120px;
                   text-align:center;

                   &.lose {
                       color: red;
                   }
               }

               .box {
                   float: right;
                   height: 62px;
                   line-height: 62px;
                   padding: 2px;
                   border-radius: 2px;
                   width: 120px;
                   text-align: center;

                   &.color {
                       .color-box {
                           display: inline-block;
                           width: 44px;
                           height: 20px;
                           box-shadow: 0 0 4px black;
                       }
                   }
               }
           }
       }
   } 
}
