$bg: rgba(0,26,55, 0.8); // Container background
$br: 4px; // Border radius
$item_bg: rgba(4, 10, 17, 0.8);
$item_bg_hl: rgba(5,30,61, 0.8);
$clr: rgba(159, 191, 219, 1);

.items-list {
    .shadow {
        box-shadow: 0 0 2px black;
        border-radius: $br;
        border: 1px solid black;
    }

    .container {
        border-radius: $br;
        background: $bg;
        padding: 10px;
        position: relative;
        border: 1px solid rgba(39,63,86,1);

        .list {
            z-index: 99;

            .item {
                display: block;
                height: 20px;
                padding: 10px;
                border: 1px solid rgba(16,47,63,1);
                text-align: left;
                margin-bottom: 2px;
                background-color: $item_bg;
                color: $clr;
                text-decoration: none;
                text-shadow: 0 0 4px black;

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    border: 1px solid rgba(71,105,141,1);
                    background-color: $item_bg_hl;
                }
            }
        }
    }
}
