html {
    font-family: sans-serif;
}

body {
    background: rgba(0,14,23, 255) url('bg.jpg');
    color: rgba(159, 191, 219, 255);
    margin:0;
    padding:20px;
    background-size: 100%;
    background-attachment: fixed;
}

/*
 TODO: move to results.css
 */
.win {
    color: green;
}

.lose {
    color: red;
}

.space {
    display: block;
    clear: both;
    width: 100%;
    height: 20px;
}

@import 'elements/button.scss';
@import 'elements/league.scss';
@import 'list.scss';
@import 'details.scss';
