/*
    HTML sample:

    <div class="button">
        <div class="left"></div>
        <div class="back"></div>
        <div class="border">Title</div>
        <div class="right"></div>
    </div>
*/

$color: rgba(159, 191, 219, 255);
$blue: rgba(5, 22, 39, 255);
$inner_glow: rgba(11, 71, 115, 255);
$border_color: rgba(45, 90, 140, 255);
$outer_glow: rgba(35, 49, 78, 255);
$outer_bg: rgba(0, 21, 41, 255);

.button {
    width: 280px;
    height: 60px;
    background-color: $blue;
    font-size: 30px;
    display: inline-table;
    position: relative;
    border-radius: 5px;
    text-shadow: 2px 2px 3px #00090f;
    cursor: pointer;
    margin: 4px;
    text-decoration: none;
    color: $color;

    &:hover {
        color: white;
    }

    .left, .right {
        position: absolute;
        top: -4px;
        height: 68px;
        width: 50px;
        background-color: $outer_bg;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(38,78,108, 255);
        z-index: -2;
    }

    .right {
        right: -2px;
    }

    .left {
        left: -2px;
    }

    .back {
        position: absolute;
        z-index: -1;
        height: 64px;
        width: 184px;
        top: -2px;
        left: 50%;
        margin-left: -92px;
        background-color: $outer_bg;
        overflow-x: hidden;
        display: block;

        &:before {
            content: " ";
            position: absolute;
            height: 60px;
            width: 190px;
            top: 2px;
            box-shadow: 0 0 2px #264e6c;
        }
    }

    .border {
        z-index:1;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        &:before, &:after {
            content: "";
            border-radius: 5px;
            width: 268px;
            height: 48px;
            position: absolute;
            left: 4px;
            top: 5px;
            border: 1px solid $border_color;
            box-shadow: 0 0 1px solid $outer_glow;
            background: transparent;
        }

        &:after {
            box-shadow: inset 0 0 1px $inner_glow;
        }
    }
}
