$width: 128px;
$height: 128px;

.league-old {
    width: $width;
    height: $height;
    background-image: url('portrait_borders.jpg');
    background-position: -75px -160px;

    // Bronze league
    &.league-1 {
        background-position-x: -214px;
    }

    // Silver league
    &.league-2 {
        background-position-x: -364px;
    }

    // Gold league
    &.league-3 {
        background-position-x: -511px;
    }

    // Platinum league
    &.league-4 {
        background-position: -66px -471px;
    }

    // Diamond league
    &.league-5 {
        background-position: -214px -471px;
    }

    // Master league
    &.league-6 {
        background-position: -365px -472px;
    }

    // Grand Master league
    &.league-7 {
        background-position: -517px -471px;
    }
}

.league {
    width: $width;
    height: $height;
    background-image: url('images/unranked.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.league-1 {
        background-image: url('images/bronze.png');
    }

    &.league-2 {
        background-image: url('images/silver.png');
    }

    &.league-3 {
        background-image: url('images/gold.png');
    }

    &.league-4 {
        background-image: url('images/platinum.png');
    }

    &.league-5 {
        background-image: url('images/diamond.png');
    }

    &.league-6 {
        background-image: url('images/master.png');
    }

    &.league-7 {
        background-image: url('images/grandmaster.png');
    }

    &.s32 {
        width: 32px;
        height: 32px;
    }

    &.s64 {
        width: 64px;
        height: 64px;
    }

    &.s128 {
        width: 128px;
        height: 128px;
    }
}
