<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Replay details</title>
    <link href="{% static 'replays/css/style.css' %}" rel="stylesheet">
</head>
<body>{% block content %}{% endblock %}</body>
</html>
