{% extends 'layout.html' %}

{% block content %}
<h1>Загруженные повторы</h1>

<div class="items-list">
    <div class="shadow">
        <div class="container">
            <div class="list">
                {% for r in replays %}
                <a class="item" href="/replay/{{r.id}}/details/">{{r.name}}</a>
                {% endfor %}
            </div>
            <div class="scroll"></div>
        </div>
    </div>
</div>

<div class="space"></div>

<a class="button" href="/replay/upload/">
    <div class="left"></div>
    <div class="back"></div>
    <div class="border">Загрузить</div>
    <div class="right"></div>
</a>
{% endblock %}
