{% extends 'layout.html' %}

{% block content %}
    <h1>{{replay.map_name}}</h1>
    <div class="replay-details">
        <div class="team">
            <div class="label">Команда 1</div>
            <div class="players">
                {% for p in replay.players.all %}

            <!--    <table>
                    <tbody>
                        <tr>
                            <th><div class="league{% if p.league != -1 %} league-{{p.league}}{% endif %}"></div></th>
                            <td>{% if p.clan %}[{{p.clan}}] {% endif %}{{p.name}}</td>
                        </tr>
                        <tr>
                            <th>Расса:</th>
                            <td>{{p.race}}</td>
                        </tr>
                        <tr>
                            <th>Цвет:</th>
                            <td><div class="color" style="width:50px;height:20px;background-color: {{p.color}};"></div></td>
                        </tr>
                        <tr>
                            <th>Результат:</th>
                            {% if p.win %}<td class="win">победа</td>{% else %}<td class="lose">поражение</td>{% endif %}</td>
                        </tr>
                    </tbody>
                </table> -->
                <div class="player">
                    <div class="icon"><div class="s64 league{% if p.league != -1 %} league-{{p.league}}{% endif %}"></div></div>
                    <div class="name">{% if p.clan %}[{{p.clan}}] {% endif %}{{p.name}}</div>
                    <div class="result">
                        {% if p.win %}<div class="win">победа</div>{% else %}<div class="lose">поражение</div>{% endif %}
                    </div>
                    <div class="box color"><div class="border">&nbsp;<div class="color-box" style="background-color: {{p.color}};"></div></div></div>
                    <div class="box race"><div class="border">{{p.race}}</div></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="clear:both;"></div>

    <a class="button" href="/replay/">
        <div class="left"></div>
        <div class="back"></div>
        <div class="border">Назад</div>
        <div class="right"></div>
    </a>
{% endblock %}
