{% extends 'layout.html' %}

{% block content %}
<h1>Загрузка повтора</h1>

<form action="/replay/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<div class="space"></div>

<a class="button" href="/replay/">
    <div class="left"></div>
    <div class="back"></div>
    <div class="border">Назад</div>
    <div class="right"></div>
</a>
{% endblock %}
